@CHARSET "ISO-8859-1";

body {
	font-family: 'arial';
	background-color: #fdf6e3;
	padding: 30px;
}

div#header {
	color: #536871;
	background: #293134;
	font-size: 28px;
	line-height: 80px;
	padding: 5px;
	position: relative;
	top: 0;
	margin-bottom: 60px;
	text-align: center;
	link: #ffffff;
}

div#header a{
	color: #268bd2;
}

body a {
	color: #536871;
	text-decoration: none;
}

div#copyright {
	color: #828282;
}

table {
    border-collapse: collapse;
    border: none;
    
}

td {
    padding: 5px;
}

h1 {
	padding-left: 20px;
	width: 500px;
}

#productDesk {
	padding-left: 20px;
	right: 20px;
	top: 20px;
}

#addToCart.submit{
	background: #859900;
	color: #000000;
	font-size: 28px;
	padding: 10px;
	position: absolute;
	right: 2%;
	border-radius: 10px;
	width: 140px;
}